*{
    margin: 0;
    padding:0;
}

html{
    scroll-behavior: smooth;
}

.logo{
    width :30%;
    display: flex;
    justify-content:center;
    align-items:center;
}

.logo img{
    width: 40%;
    border: 3px solid white;
    border-radius: 50px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.nav-list{
    display:flex;
    width: 50%; 
    align-items: center;

    
}
.nav-list li{
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu',sans-serif;

}

.nav-list li a:hover{
    text-decoration: none;
    color: grey;

} 

.rightNav{
    width: 50%;
    text-align: right;
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px; 
}

.background{
    background: rgba(0,0,0,0.7) url('../img/bg3.png');
    background-size: cover;
    background-blend-mode: darken;
}
.firstSection{
    height: 100vh;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
}

.firstHalf{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seconfHalf{
    width: 30%;
}

.secondHalf img{
    width: 70%;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}
 
.text-big{
    font-size: 41px;
}

.text-mid{
    font-size: 30px;
}
.text-small{
    font-size: 18px;
}

.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
    font-size: 16px;
}

.section{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto; 
    font-family: 'Ubuntu', sans-serif;

}

.section-left{
    flex-direction: row-reverse;
}


.paras{
    padding: 0px 65px; 
}

.sectionTag{
    padding: 16px 0;
}

.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif';
}

.thumbnail img{
    width: 250px;
    border: 2px solid black;
    border-radius: 26%;
    margin-top: 19px;
}

.btn-dark{
    color: black;
    border: 2px solid grey;
}

.about{
    width: 80%;
    margin: auto;
    /* text-align: left; */
    padding-top: 100px;
}
.about-row{
    margin-top: 5%;
    display: flex;
}
.about-margin{
    padding-left: 200px;
}
.about-padding{
    padding-left: 20px;
    margin-top: 3%;
}

.about-main{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100%;
    margin: auto;
    height: 80%;
    background-color: rgb(30, 30, 100);
}

.contact{
    background-color: #f6f5f4;
    height: 833px;
}
.just-contant{
    justify-content: space-between;
}
.contact-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    padding: 5px 5px;
    justify-content: space-between;
}

.contact-col img{
    display: block;
    width: 50%;
    height: 50%;
    border-radius: 10px;
}
.contact-col:hover{
    cursor: pointer;
}
.text-center{
    text-align:center;
    padding-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
}
.form{
    max-width: 40%;
    margin: 25px auto;
}

.form-background{
    background-color: #9b5ece;
}
.form-input{
    margin: 14px 30px;
    padding: 5px 3px;
    width: 85%;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form-btn{
    background-color: rgb(228, 224, 8);
}