*{
    margin: 0;
    padding:0;
}

html{
    scroll-behavior: smooth;
}

.logo{
    width :30%;
    display: flex;
    justify-content:center;
    align-items:center;
}

.logo img{
    width: 40%;
    border: 3px solid white;
    border-radius: 50px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.nav-list{
    display:flex;
    width: 50%; 
    align-items: center;

    
}
.nav-list li{
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu',sans-serif;

}

.nav-list li a:hover{
    text-decoration: none;
    color: grey;

} 

.rightNav{
    width: 50%;
    text-align: right;
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px; 
}

.background{
    background: rgba(0,0,0,0.7) url('../img/bg3.png');
    background-size: cover;
    background-blend-mode: darken;
}
.firstSection{
    height: 100vh;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
}

.firstHalf{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seconfHalf{
    width: 30%;
}

.secondHalf img{
    width: 70%;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}
 
.text-big{
    font-size: 41px;
}

.text-mid{
    font-size: 30px;
}
.text-small{
    font-size: 18px;
}

.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
    font-size: 16px;
}

.section{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto; 
    font-family: 'Ubuntu', sans-serif;

}

.section-left{
    flex-direction: row-reverse;
}


.paras{
    padding: 0px 65px; 
}

.sectionTag{
    padding: 16px 0;
}

.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif';
}

.thumbnail img{
    width: 250px;
    border: 2px solid black;
    border-radius: 26%;
    margin-top: 19px;
}

.btn-dark{
    color: black;
    border: 2px solid grey;
}

.about{
    width: 80%;
    margin: auto;
    /* text-align: left; */
    padding-top: 100px;
}
.about-row{
    margin-top: 5%;
    display: flex;
}
.about-margin{
    padding-left: 200px;
}
.about-padding{
    padding-left: 20px;
    margin-top: 3%;
}
.about-main{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100%;
    margin: auto;
    height: 80%;
    background-color: rgb(30, 30, 100);
}

.contact{
    background-color: #f6f5f4;
    height: 833px;
}
.just-contant{
    justify-content: space-between;
}
.contact-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    padding: 5px 5px;
    justify-content: space-between;
}

.contact-col img{
    display: block;
    width: 50%;
    height: 50%;
    border-radius: 10px;
}
.contact-col:hover{
    cursor: pointer;
}
.text-center{
    text-align:center;
    padding-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
}
.form{
    max-width: 40%;
    margin: 25px auto;
}

.form-background{
    background-color: #9b5ece;
}
.form-input{
    margin: 14px 30px;
    padding: 5px 3px;
    width: 85%;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form-btn{
    background-color: rgb(228, 224, 8);
}

.text-footer{
    text-align: center;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    color: white ;
}

.services{
    text-align: center;
    font-size: 41px;
}

.ser-section-main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 27%;
    margin: auto;
    height: 70%;
}

.ser-vh{
    height: 100vh;
}
.ser-section{
    padding: 60px 22px;
}


.ser-img{
    height: 447px;
    object-fit: cover; 
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.service{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.service-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.service-col img{
    width: 100%;
    display: block;
}

.layer{
    background: transparent ;
    height:100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.4s;
}

.layer:hover{
    background: rgba(50,0,0,0.7);
    text-decoration: none;
}


.layer a:hover{
    text-decoration: none;
    color: grey;
}


.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.4s;

}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

.box{
    padding: 3rem 2rem;
    text-align: center;
    border: border;
    background: rgb(226, 226, 226);
    cursor: pointer;
}



.courses{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.courses-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.courses-col img{
    width: 100%;
    border-radius: 10px;
}

.icons-container{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
 }
 .icons{
       text-align: center;
       border:border;
       background: lightgreen;
       padding:3rem 2rem;
 }
 .icon img{
    height: 5rem;
    margin-bottom: .5rem;

 }
.counselor{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}


.counselor-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.counselor-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.counselor-col p{
    padding: 0;
}

.counselor-col h3{
    margin-top: 15px;
    text-align: left;
}

.login{
    width: 80%;
    margin: auto;
    margin-bottom: 200px;
    padding-top: 100px; 
}
.login-row{
    margin-top: 5%;
    display: flex;
    align-items: center;
    margin: auto;
}

.login-main{
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100%;
    margin: auto;
    height: 100%;
}
.log-bgc{
    background-color: #f1be8a;
}
.log-left{
    padding: 10% 2%;
    text-align: center;
    margin-bottom: 100px;
   
}

.log-right{
    padding: 7% 2%;
    background-color: #0466664b;
    text-align: center;
    margin-bottom: 100px;
}

.contact p a{
    text-decoration: none;
}

.contact p a:hover{
    text-decoration: none;
}
